[Desktop Entry]
Type=Application
Name=Mine-imator
Comment=Minecraft 3D animation software
Exec=mine-imator
Icon=com.nestor_churin.MineImator
Terminal=false
Categories=Graphics;3DGraphics;AudioVideo;
StartupWMClass=mine-imator
